/* CSS de açıklama satırı bu şekilde oluşur.*/

body {
    background-color: bisque;
    font-family: 'Courier New', Courier, monospace;
}
h1,h2,h3,h4,h5,h6 { 
    text-align: center;
   color: darkgreen; 
}

h2 {
    color: rgb(255, 94, 0);
    font-size: 34px;
    text-transform: uppercase; /*h2 ile yazılan her metin büyük harf olacak*/ 
}
p {
    text-align: center;
}
ul {
    list-style-position: inside;
      text-align: center;
}
/* CSS de class oluşturmak için, örneğin text-red classı oluşturacağız.Yapı şu şekildedir;
    .text-red{} */
/* CSS de ID oluşturmak için, #id-bilgisi{} yapısı kullanılır*/
#first-article{
    color: darkblue;
}
ol {
    text-align: center;
}



.text-red {   /* text-red class'ı oluşturuldu*/
    color:red;
}

.fs-14{
    font-size: 14px;
}

.fs-20{
    font-size: 20px;
}

.fs-30{
    font-size: 30px;
}

.img {
    width: 100;
    height: 100;
}
